{
    "metrics-addr" : "{{ docker_daemon_metrics_ip_address}}:9323",
    "experimental" : true,
    "live-restore": true,

    {% if docker_daemon_registry_mirror is defined %}
    "registry-mirrors": ["{{docker_daemon_registry_mirror}}"],
    {% endif %}

{% if docker_daemon_loki_log_sink is defined %}
    "log-driver":"loki",
    
    "log-opts": {
        "loki-url": "http://{{docker_daemon_loki_log_sink}}/loki/api/v1/push",
        "loki-batch-size": "400"
    }
{% endif %}

}