
defaults:
  sortTags: semver

watch:
  schedule: "0 10 * * *"

providers:
  file:
    directory: "/config"
  dockerfile:
    patterns:
      - ./config/*Dockerfile

regopts:
  - name: {{ docker_registry_host }}
    username: {{ dockerRegistry.username }}
    password: {{ dockerRegistry.password }}

notif:
  pushover:
    token: {{ pushover.app_token }}
    recipient: {{ pushover.user_key }}
    templateTitle: "{{ "{{" }} .Entry.Image {{ "}}" }} released"
    templateBody: "Docker tag {{ "{{" }} .Entry.Image {{ "}}" }} has been released"
